#common ignores
.DS_Store 
.hg/
.idea/
Q/app/local/*
Q/appfiles/*
!Q/app/files/MyApp
Q/app/files/MyApp/uploads/*/*
!Q/app/files/MyApp/uploads/Users/.dir
!Q/app/files/MyApp/uploads/Streams/.dir
Q/app/text/*
!text/MyApp
Q/plugins/*
Q/uploads
Q/text
Q/views
vendor/
npm_modules/
!*.dir
